.App {
  text-align: center;
  perspective: 200px;
  
}

body {
  /*background: #e2e3e1;*/
  background: url("https://wallpaperaccess.com/full/187161.jpg") center top no-repeat fixed;
  background-size: 300%;
}

.icon {
  transform: translateX(-48vw);
  z-index: 700;
  float: left;
  position: absolute;
}

