.cinemaScreen {
    height: 30vh;
    width: 800px;
    border: 2px solid black;
    margin-top: 25px;
    border-radius: 5px;
    display: block;
    background: radial-gradient(ellipse at center, rgba(56, 118, 95, 0.9), rgba(0, 0, 0, 1));
    transform: rotateX(-5deg) translateX(290px);
    box-shadow: 0px 20px 10px 0px rgba(255, 255, 255, 0.3);
}